
.flexbox-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
}
img{
  align-content: flex-start;
  width: 70%;
}
table{
  text-align: justify;
}
footer {
  text-align: center;
  margin-top: 180px;
  bottom: 0;
}