$sub-heading-color: rgb(255, 196, 0);
$heading-color:  rgb(80, 159, 196);
.CreateProject {
    input[type=text] {
        border: none;
        border-bottom: 4px solid $heading-color;  
    }
    
h1 {
    font-size: 50px;
    text-align: left;
}
h2{
    text-align: left;
}
    .locationCtn {
        display: flex;
        justify-content: center;
        flex-flow: wrap;

        .locationBtn {
            display: flex;
            margin: 2em;
            width: 50%;
            height: 5em;
            background-color: #ccc;
            font-weight: bold;
            justify-content: center;
            align-items: center;
        }

        .locationQuestions {
            width: 100%;
            .newConfigMain {
                margin: 2em 0;
            }
        }

    }
}

