html{
  height: 100%;
  width: 100%;
}

.content-container {
  position: relative;
  display: flex;
}

.content-section, .top-nav {
  width: calc(100% - 20em);
}

.content-section {
  display: block;
  min-height: calc(100vh - (60px + 30px + 2em));
  text-align: center;
}

.project-side {
  position: absolute;
  top: -60px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 10em;
  height: calc(100% + 60px);
  background-color: #0a4388;
  padding: 0 5em;  
}

/* apply to all navigations */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
}

/* apply to top navigations */

.top-nav {
  line-height: 0;
}

.top-nav ul {
  display: flex;
  justify-content: center;
}

.top-nav ul li {
  padding: 30px;
}

.top-nav ul li a {
  color: #91d3e1;
}

/* apply to side navigations */
.side-nav ul li {
  display: flex;
  flex-direction: column;
}
.side-nav ul li a {
  color: white;
}


/* end navigations */

footer {
  text-align: center;
  background-color: #91d3e1;
  margin: 0;
  padding: 1em 0;
}

footer p{
  color: black;
  font-size: 10px;
  line-height: 1;
}

h2, h3{
  color: #ffc400; 
}

input[type="file"]{
  color: black;
}