html{
  height: 100%;
  width: 100%;
}

.content-container {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.content-section, .top-nav ul {
  width: calc(100% - 20em);
}

.content-section {
  display: block;
  min-height: calc(100vh - 12em);
}

.project-side {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10em;
  background-color: #0a4388;
  text-align: center;
  padding: 0 5em;
  z-index: -1;
}

/* apply to all navigations */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
}

/* apply to top navigations */

.top-nav ul {
  display: flex;
  justify-content: center;
}

.top-nav ul li {
  padding: 30px;
}

.top-nav ul li a {
  color: #91d3e1;
}

/* apply to side navigations */
.side-nav ul li {
  display: flex;
  flex-direction: column;
}
.side-nav ul li a {
  color: white;
}


/* end navigations */

footer {
  text-align: center;
  background-color: #91d3e1;
  margin: 0;
  padding: 1em 0;
}

footer ul {
  list-style: none;
  display: flex;
  position: fixed;
  text-align: center;
  padding: 3px;
}
footer ul li{
  padding: 10px;
  margin: 0px;
}

h1 {
  text-align: center !important;
  font-size: 70px;
  color: #91d3e1;
  margin-bottom: 0px;
}
h2{
  color: #ffc400; 
  text-align: center !important;
  margin-bottom: 30px;
}
h3{
  color: #ffc400; 
  margin-bottom: 30px;
}
h6{
  color: black;
  font-size: 10px;
}

p {
  margin-bottom: 15px;
}

input[type="file"]{
  color: black;
}